In [5]:
import pandas as pd
test = pd.read_csv('hynix/testset.csv')
test = test.iloc[0,:]
test = test.to_frame().transpose()
test

,Unnamed: 0,Date,ID,x1,x3,x4,x5,x6,x7,x8,...,x1478,x1479,x1480,x1481,x1482,x1483,x1484,x1485,x1486,x1548
0,2497,2021-05-21,4244,0.043333,23.2375,NaN,NaN,NaN,-0.08,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.855475